.botones {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vh;
    margin: 5vh 0 0 0;
}

button.editar {
    color: aliceblue;
    font-size: 1.2em;
    font-weight: bold;
    background-color: #4CAF50;
    border-radius: 10%;
    padding: 1vw;
    width: 20vw;
    border-color: transparent;
    cursor: pointer;
    font-size: 2.5vw;
}

button.editar:hover {
    background-color: #28bb2d;
}

button.editar:active {
    background-color: #02ff0a;
}
@media screen and (max-width: 740px) {
    
    button.editar {
        color: aliceblue;
        font-size: 1.2em;
        font-weight: bold;
        background-color: #4CAF50;
        border-radius: 10%;
        padding: 1vw;
        width: 35vw;
        border-color: transparent;
        cursor: pointer;
        font-size: 5vw;
    }
    
    button.editar:hover {
        background-color: #28bb2d;
    }
    
    button.editar:active {
        background-color: #02ff0a;
    }
    
}
