/* -----------------tarejtas------------ */

.tarjeteroL {
    display: flex;
    justify-content: center;
}

.flip-containerL {
    background-color: transparent;
    width: 65vw;
    height: 40vh;
    /* border: 1px solid #ccc; */
    perspective: 1000px;
}

.cardL {
    display: flex;
    position: relative;
    width: 65vw;
    height: 40vh;
    text-align: center;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.frontL,
.backL {
    position: absolute;
    width: 65vw;
    height: 40vh;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
}

.flip-containerL:hover .cardL {
    transform: rotateY(180deg);
}

.frontL {
    display: flex;
    justify-content: space-evenly;
    background-color: #4e4e4d;
    color: #fff;
    background-repeat: round;
    background-size: cover;
}

.contenedorL {
    display: flex;
    position: fixed;
    width: 4vw;
    height: 40vh;
    background-color: #fcd031;
    justify-content: center;
    text-align: center;
    margin-left: -500px;
}

.contenedorL p {
    text-align: center;
    position: fixed;
    font-size: 20.5px;
    transform: rotate(-90deg);
    bottom: 20vh;
}

.conteL p {
    width: 400px;
    text-align: justify;
    word-break: break-word;
    line-break: normal;
}

.backL {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #4e4e4d;
    color: white;
    transform: rotateY(180deg);
    font-size: 1rem;
}

.flip-containerL {
    margin: 1em;
}

.area {
    width: 20vw;
    position: fixed;
    align-items: flex-start;
    font-size: 2rem;
    color: #fcd031;
    justify-content: center;
    font-family: 'Segoe';
}

@media screen and (max-width: 740px) and ( orientation: portrait) {
    .flip-containerL {
        background-color: transparent;
        width: 95vw;
        height: 35vh;
        perspective: 1000px;
    }
    .cardL {
        display: flex;
        position: relative;
        width: 95vw;
        height: 35vh;
        text-align: center;
        transition: transform 1s;
        transform-style: preserve-3d;
    }
    .frontL,
    .backL {
        position: absolute;
        width: 95vw;
        height: 35vh;
        backface-visibility: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 5rem;
    }
}