@font-face {
    font-family: 'Segoe';
    src: url(../fonts/seguiemj.ttf);
}

@font-face {
    font-family: "Sifonn";
    src: url(../fonts/SIFONN_PRO.otf);
}

body {
    background-color: #32353d;
}

.titulo {
    display: flex;
    width: 100%;
    color: #FCD031;
    align-items: center;
    justify-content: center;
    margin: 3vh 0 3vh 0;
    font-size: 4vh;
}

.formulario {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 0 0 10vh 0;
}

.formulario label {
    color: #FCD031;
}

.conterrores {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 15px;
}

.fmdatos {
    display: flex;
    width: 40vw;
    flex-direction: column;
    gap: 3vh;
    font-size: 3vh;
}

#file_input {
    color: aliceblue;
}

#file_input button {
    background-color: aqua;
}

.botones {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vh;
    margin: 5vh 0 0 0;
}

button.crear {
    color: aliceblue;
    float: right;
    font-size: 1.2em;
    font-weight: bold;
    background-color: #4CAF50;
    border-radius: 10%;
    padding: 1vw;
    width: 20vw;
    border-color: transparent;
    cursor: pointer;
    font-size: 2.5vw;
}

button.crear:hover {
    background-color: #28bb2d;
}

button.crear:active {
    background-color: #02ff0a;
}

button.close {
    color: aliceblue;
    float: right;
    font-size: 1.2em;
    font-weight: bold;
    background-color: rgb(196, 16, 16);
    border-radius: 10%;
    padding: 1vw;
    width: 20vw;
    border-color: transparent;
    cursor: pointer;
    font-size: 2.5vw;
}

button.close:hover {
    background-color: rgb(214, 35, 35);
}

button.close:active {
    background-color: red;
}

@media screen and (max-width: 740px) {
    
    .fmdatos {
        display: flex;
        width: 80vw;
        flex-direction: column;
        font-size: 3vh;
    }
    button.crear {
        color: aliceblue;
        float: right;
        font-size: 1.2em;
        font-weight: bold;
        background-color: #4CAF50;
        border-radius: 10%;
        padding: 1vw;
        width: 35vw;
        border-color: transparent;
        cursor: pointer;
        font-size: 5vw;
    }

    button.crear:hover {
        background-color: #28bb2d;
    }
    
    button.crear:active {
        background-color: #02ff0a;
    }

    button.close {
        color: aliceblue;
        float: right;
        font-size: 1.2em;
        font-weight: bold;
        background-color: rgb(196, 16, 16);
        border-radius: 10%;
        padding: 1vw;
        width: 35vw;
        border-color: transparent;
        cursor: pointer;
        font-size: 5vw;
    }
    
    button.close:hover {
        background-color: rgb(214, 35, 35);
    }
    
    button.close:active {
        background-color: red;
    }
}